body {
    background-image: url(given\ resources/silverware.jpg);
}

h1 {
    color: #a4a400;
    background-color: #f0f0f0;
    font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
    text-decoration: underline; 
}

h2, h3, h4, h5{
    color: #a4a400;
    background-color: #f0f0f0;
    text-align: left;
    font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    font-size: 18pt;
    text-decoration: underline; 
    margin-top: 15pt;
    margin-bottom: 15pt;
    font-weight: normal;
}

ul {
    list-style-image: url(given\ resources/pie_icon.gif);
}

.text_body, .quotes{
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, 'Garamond', serif;
}

.quotes {
    background-color: #FFFFA8;
    font-style: italic;
}

a:link {
    color: #A4A400;
}

a:visited {
    color: #A4A400; 
  }

pre {
    font-family: monospace;
}

abbr {
    text-decoration: underline dotted;
    cursor: help;
}