body {
    background-image: url(given\ resources/silverware.jpg);
}

h1 {
    color: #a4a400;
    background-color: #f0f0f0;
    font-family: 'Lucida Sans Unicode', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
    text-decoration: underline; 
}

h2, h3, h4, h5{
    color: #a4a400;
    background-color: #f0f0f0;
    text-align: left;
    font-family: 'Lucida Sans Unicode', 'Gill Sans';
    font-size: 18pt;
    text-decoration: underline; 
    margin-top: 15pt;
    margin-bottom: 15pt;
}

ul {
    list-style-image: url(given\ resources/pie_icon.gif);
}

.text_body, .quotes{
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, 'Garamond', serif;
}

.quotes {
    background-color: #FFFFA8;
    font-style: italic;
}

a:link {
    color: #A4A400;
}

pre {
    font-family: monospace;
}

/* 
- All headings should be underlined. 
- Every heading except "h1" should be left aligned with 18pt normal font.
- Overall page body background should be white.
- Text in body should have foregound color of #404040 and use an 11pt font. The font families for page text are Georgia, Garamond,
    or any serif font available on the system.
- Any links on the page should use the color #A4A400, matching the color of the page headings.
*/