body {
    background-color:beige;
    background-image: url(given_resources/pumpkin-pie-background.png);
}

h1 {
    font-size: 50px;
    color: red;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

a {
    font-size: 25px;
    font-weight: bold;
    color:rgba(124, 24, 206, 0.921);
}

a:hover {
    color: cyan;
}

#links {
    text-align: center;
}

p {
    font-weight: bold;
    font-size: 18px;
}

ul {
    font-size: 20px;
}


