body {
    background-color: rgb(199, 223, 231);
}


h1 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black; 
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 6px white; 
    background-color: rgba(255, 255, 255, 0.2); 
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 2; /* Ensure text is above the faded image */
}

h2 {
    text-align: center;
    background-color: rgb(233, 233, 158);
    padding: 8px;
}

h3 {
    text-decoration: underline;
}

#flex_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(127, 203, 247);
    overflow: hidden;
    padding: 12px;
}

nav a{
    color: white;
    font-size: 25px;
    text-decoration: none;
}

nav a:hover, .active {
    color: rgb(96, 96, 233);
}

#img_container {
    position: relative;
    text-align: center;
}

#img_container img {
    display: flex;
    width: 100%;
    margin-top: 20px;
    opacity: 0.6; 
}

p {
    display: flex;
    justify-content: center;
    padding: 20px;
    
    background-color: rgb(127, 203, 247);
    font-size: 20px
}

article {
    background-color: rgb(233, 233, 158);
    padding: 8px;
}

.recommendation_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

aside {
    text-align: center;
    font-size: 25px;
}

.shown {
    display: block;
}

.hide {
    display: none;
}

.small{
    width: 200px;
    height: 200px;
}

.big{
    width: 300px;
    height: 300px;
    border: solid 5px rgb(129, 129, 8);
}